.env
raw_data/*
# Ignore contents of processed_data, flags, and arbitrage
processed_data/*
!processed_data/.gitkeep
flags/*
!flags/.gitkeep
arbitrage/*
!arbitrage/.gitkeep

# But track the folders themselves
!processed_data/
!flags/
!arbitrage/

prod_scripts/__pycache__/*
test_scripts/__pycache__/*